{
  "env": {
      "browser": true,
      "es2020": true,
      "node": true
  },
  "parser": "babel-eslint",
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended",
      "prettier"
  ],
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 2020,
      "sourceType": "module"
  },
  "plugins": [
      "react",
      "prettier"
  ],
  "rules": {
      "react/jsx-filename-extension": [
          1,
          {
              "extensions": [
                  ".js",
                  ".jsx",
                  ".ts",
                  ".tsx"
              ]
          }
      ],
      "no-var": "error",
      "prefer-const": [
          "error",
          {
              "destructuring": "all"
          }
      ],
      "comma-dangle": [
          "error",
          {
              "arrays": "always-multiline",
              "objects": "only-multiline",
              "functions": "only-multiline",
              "imports": "only-multiline",
              "exports": "only-multiline"
          }
      ],
      "arrow-parens": [
          "error",
          "as-needed"
      ],
      "no-constant-condition": "error",
      "no-undef-init": "error",
      "no-multi-spaces": "error",
      "no-empty": "error",
      "no-extra-boolean-cast": "error",
      "no-extra-semi": "error",
      "eqeqeq": [
          "warn",
          "smart"
      ],
      "vars-on-top": "off",
      "yoda": [
          "error",
          "never",
          {
              "exceptRange": true,
              "onlyEquality": false
          }
      ],
      "no-shadow": "warn",
      "no-unused-vars": [
          "error",
          {
              "vars": "all",
              "args": "none",
              "ignoreRestSiblings": true
          }
      ],
      "camelcase": [
          "warn",
          {
              "properties": "always"
          }
      ],
      "comma-spacing": [
          "error",
          {
              "before": false,
              "after": true
          }
      ],
      "object-curly-spacing": [
          "error",
          "always"
      ],
      "quotes": [
          "error",
          "single",
          {
              "allowTemplateLiterals": true
          }
      ],
      "semi-spacing": [
          "error",
          {
              "before": false,
              "after": true
          }
      ],
      "semi": [
          "error",
          "always"
      ],
      "array-bracket-spacing": [
          "error",
          "never"
      ],
      "brace-style": [
          "error",
          "1tbs",
          {
              "allowSingleLine": true
          }
      ],
      "space-before-function-paren": [
          "error",
          {
              "anonymous": "always",
              "named": "never",
              "asyncArrow": "always"
          }
      ],
      "no-mixed-spaces-and-tabs": [
          "error",
          "smart-tabs"
      ],
      "prefer-arrow-callback": "warn",
      "no-console":"warn",
      "no-debugger":"warn"
  }
}
